<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
            type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <title>Title</title>
    <link  rel="stylesheet" type="text/css" href="../css/style.css" />
</head>

<body>
<div class="main-w3layouts wrapper">
<h2>Here is your App's clients </h2>

<ul th:each="client :${clients}">
    <li class="text" th:text="${client.name}"></li>
    <li class="text" th:text="${client.surname}"></li>
    <li class="text" th:text="${client.email}"></li>
    <li class="text" th:text="${client.birthDate}"></li>
</ul>

</div>
</body>
</html>