<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Error</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Chango" rel="stylesheet">

    <!-- Custom stlylesheet -->
    <link rel="stylesheet" href="../css/main.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<!--<div class="container bg-light">-->
<!--    <div class="container bg-light">-->
<!--        <div id="serviceOff" style="position: fixed; top: 30%; left: 40%;">-->
<!--            <h1>OOPS, something went wrong...</h1>-->
<!--            <img src="../img/logo/cat_problems.png">-->
<!--            <h3><span th:text="${'Seems like '+ exception}"></span></h3>-->

<!--            <button type="button" onclick="javascript:history.back()">Back</button>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<div id="notfound">
    <div class="notfound">
        <div>
            <img class="catpic" src="../img/logo/cat_problem2.gif">
            <h2>OOPS</h2>
            <h3>Something went wrong!</h3>
        </div>
        <p th:text="${'Seems like '+ exception}">

        </p>
        <button type="button" onclick="javascript:history.back()">Back</button>
    </div>
</div>

</body>
</html>