<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Online shop</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"/>
    <link rel="stylesheet" href="../css&js/css/main.css">

    <link rel="stylesheet" href="../libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img th:src="@{/img/logo/logo.png}" srwidth="auto" height="40" class="d-inline-block align-top" alt=""/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form th:action="@{/catalog/search}">
        <label for="site-search"></label>
        <input type="search" id="site-search" name="searchText">
        <button id="searchButton">Search</button>
        </form>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="fa fa-user nav-link mt-1" th:href="@{/profile}" href="#"></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/catalog}" href="#">shop</a>
                </li>

                <li class="nav-item active" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" th:href="@{/newItem}" href="#">add new item</a>
                </li>
                <li class="nav-item active" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" th:href="@{/stats}" href="#">view sales stats</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/auth/login}">login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/auth/logout}">logout</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/purchases}" href="#">purchases</a>
                </li>
                <li class="nav-item active">
                    <a class="fa fa-shopping-cart nav-link mt-1 " th:href="@{/cart}" href="#"></a>
                </li>
                <li class="nav-item active">
                    <span class="nav-link badge text-danger  " id="cartCount" th:text="${cartCount}">0</span>
                </li>
            </ul>

        </div>
    </div>
</nav>
<header class="header">
    <div class="container text-center">
<!--        <img src="../img/logo/logo.png" width="500" height="150" alt="">-->
        <div class="display-4">E-shop</div>
        <p class="lead">Browse our products</p>
    </div>
</header>
<div th:unless ="${chosenCategory==null}" class="row col-sm-20" style="justify-content: center">
    <a th:href="@{'/page/'+${currentPage}+'?category='+${chosenCategory}+'&sortField=name&sortDir='+${reverseSortDir}}">
        <button class="btn-warning">Sort By Name</button>
    </a>&nbsp;
    <a th:href="@{'/page/'+${currentPage}+'?category='+${chosenCategory}+'&sortField=price&sortDir='+${reverseSortDir}}">
        <button class="btn-warning">Sort By Price</button>
    </a>&nbsp;
    <a sec:authorize="hasRole('ROLE_ADMIN')"
       th:href="@{'/page/'+${currentPage}+'?category='+${chosenCategory}+'&sortField=quantity&sortDir='+${reverseSortDir}}">
        <button class="btn-warning">Sort By Quantity</button>
    </a>&nbsp;
    <a sec:authorize="hasRole('ROLE_ADMIN')"
       th:href="@{'/page/'+${currentPage}+'?category='+${chosenCategory}+'&sortField=sold&sortDir='+${reverseSortDir}}">
        <button class="btn-warning">Sort By Sold</button>
    </a>

</div>
<div  class="container" style="margin-top: 30px">
    <div class="row">
        <div class="col-sm-3">
            <h4>Categories</h4>
            <ul class="list-group">
                <a th:href="@{/catalog}">
                    <li class="list-group-item">All Products</li>
                </a>
                <a href="" th:each="category, iStat : ${categories}"
                   th:href="@{/{category}/{pageNo}?sortField=name&sortDir=asc(category=${category},pageNo=1)}">
                    <li
                            class="list-group-item" th:text="${category}"></li>
                </a>
            </ul>
        </div>
        <div class="col-sm-9">

            <h3 th:if="${#lists.isEmpty(items)}">
                <br>
                <br>
                <span th:text="${'There are no '+ chosenCategory + ' products yet, we are working on it :)'}"></span>

            </h3>
            <div th:if="${!#lists.isEmpty(items)}" class="card" style="margin-top: 20px" th:each="item : ${items}">
                <div class="row no-gutters">
                    <div class="col-sm-5 d-flex justify-content-center">
                        <img class="" height="150px" width="125px"
                             th:src="@{${'../img/item/' + item.getImgName()}}" th:alt="${item.name}">
                    </div>
                    <div class="col-sm-7 d-flex justify-content-center">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${item.name}"></h5>
                            <div th:if="${item.quantity!=0}"><h4>$ <span th:text="${item.price}"></span></h4>
                                <a class="btn btn-primary" data-action="addToCart"
                                   th:onclick="'javascript:addToCart(\'' + ${item.id} + '\');'">Add to
                                    cart</a>
                                <a href="#" th:href="@{/item/{id}(id=${item.id})}" class="btn btn-primary">View
                                    Product</a>
                                <ul class="pagination mt-2">
                                    <li class="page-item">
                                        <button class="page-link"
                                                th:onclick="'javascript:addLess(\'' + ${item.getId()} + '\');'">
                                            <span aria-hidden="true">&laquo;</span>
                                        </button>
                                    </li>
                                    <li class="page-item"><a class="page-link" th:id="${'quantity'+item.getId()}">1</a></li>
                                    <li class="page-item">
                                        <button class="page-link"
                                                th:onclick="'javascript:addMore(\'' + ${item.getId()} + '\');'">
                                            <span aria-hidden="true">&raquo;</span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <div th:if="${item.quantity==0}"><h4><span>Out of stock</span></h4>

                                <a href="#" th:href="@{/item/{id}(id=${item.id})}" class="btn btn-primary">View
                                    Product</a>

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div th:if="${totalPages>1}">
    <div class="row col-sm-20 justify-content-center">

        <div class="col-sm-1">
                   <span th:each="i: ${#numbers.sequence(1,totalPages)}">
                       <a th:if="${currentPage != i}"
                          th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDirection}}">[[${i}]]</a>
                       <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                   </span>
        </div>
        <div class="col-sm-1">
            <a th:if="${currentPage < totalPages}"
               th:href="@{'/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDirection}}">Next</a>
            <span th:unless="${currentPage < totalPages}">Next</span>
        </div>
        <div class="col-sm-1">
            <a th:if="${currentPage < totalPages}"
               th:href="@{'/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDirection}}">Last</a>
            <span th:unless="${currentPage < totalPages}">Last</span>
        </div>
    </div>
</div>
<footer class="bg-light text-center text-lg-start">

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-dark" href="http://localhost:8080/">Eshop.com</a>
    </div>

</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="../css&js/js/addToCartFunction.js"></script>
</body>

</html>