<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Online shop</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"/>
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"/>

    <link rel="stylesheet" href="../libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css&js/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700&amp;subset=cyrillic-ext"
          rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="fa fa-user nav-link mt-1" th:href="@{/profile}" href="#"></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/catalog}" href="#">shop</a>
                </li>

                <li class="nav-item active" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" th:href="@{/newItem}" href="#">add new item</a>
                </li>
                <li class="nav-item active" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" th:href="@{/stats}" href="#">view sales stats</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/auth/login}">login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/auth/logout}">logout</a>
                </li>
                <li class="nav-item active">
                    <a class="fa fa-shopping-cart nav-link mt-1 " th:href="@{/cart}" href="#"></a>
                </li>
                <li class="nav-item active">
                    <span class="nav-link badge text-danger  " id="cartCount" th:text="${cartCount}">0</span>
                </li>
            </ul>

        </div>
    </div>
</nav>
<div class="container">
    <div class="col-sm-6">
        <h3 style="margin-top: 10px">Sign Up Now</h3>
        <p>Please fill out this to register</p>
        <form th:action="@{/auth}" th:object="${client}" method="post">
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" name="Name" id="Name" required placeholder="Firstname"
                       class="form-control form-control-lg">
            </div>
            <div class="form-group">
                <label for="Surname">Surname</label>
                <input type="text" name="Surname" id="Surname" required placeholder="Your Surname"
                       class="form-control form-control-lg">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control form-control-lg" required minlength="6" placeholder="Email"
                       name="email" id="email"
                       aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                    anyone else.</small>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control form-control-lg" required placeholder="Password"
                       name="password"
                       id="password">
            </div>
            <div class="form-group">
                <label for="birthDate">Date of birth</label>
                <input type="date" class="form-control form-control-lg" required placeholder="birthDate"
                       name="birthDate"
                       id="birthDate">
            </div>

            <button type="submit" value="Register" class="btn btn-primary btn-block">Register</button>
            <span style="margin-top: 10px">Already have an account? <a th:href="@{/auth/login}">Login here</a></span>
        </form>
    </div>
</div>

<script src="../css&js/js/addToCartFunction.js"></script>
</body>

</html>